.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &__image {
    width: 50%;
    display: flex;

    img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1080px) {
  .gallery {

    &__image {
      width: 25%;
    }
  }
}