@import '../../styles/variables';

.footer {
  background-color: $teal-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 5rem;

  &__logo {
    width: 170px;
    height: 33px;
    mask-image: url(../../assets/images/logo.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $teal;
    filter: brightness(0.85);
    margin-bottom: 2.75rem;
  }

  &__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    justify-content: space-between;
    font-size: 1.1rem;
    color: $teal;
    margin-bottom: 4rem;

    a:hover {
      color: $white;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    column-gap: 1.75rem;
  }

  &__icon:hover {
    filter: brightness(10);
  }
}

@media screen and (min-width: 295px) {
  .footer__links {
    flex-direction: row;
    column-gap: 1rem;
    margin-bottom: 5.75rem;
  }
}

@media screen and (min-width: 375px) {
  .footer__links {
      column-gap: 3.6rem;
      justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 4.5rem;
  }

}